{% extends 'Declaraciones/layoutDeclaraciones.html' %}

{% block head %}
<title>Declaraciones - Tutorial</title>
{% endblock %}

{% block body %}
<div class="tutorial_text_header2" id="tuto-window">
    <div class="tuto-window">
        <img class="captura" src="{{ url_for('static', filename='images/Declaraciones/SAT-Inicio-pt1.png') }}" alt="image">
        <img class="capturaCorta4" src="{{ url_for('static', filename='images/Declaraciones/SAT-Inicio-pt2.png') }}" alt="image">
        <input id="selec" class="dec0Dec" type="button" onclick="siguiente(), actualizarTexto(1)" value="">
    </div>
</div>
{% endblock %}