<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='./images/Favicon.png' ) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body class="body-tutorial">

    

    <div class="full-tutorial">
        <h2 class="name-course">Tutorial CFDI Para Público en General</h2>
        <div class="tutorial_text_header">
            <p class="tutorial_text" id="tutorialText">Desde la página de inicio del portal SAT haz click en el apartado de "Factura electrónica"</p>
        </div>
            
        {% block body %}
        {% endblock %}
    
        <!-- Funciones para pruebas -->
        <input type="number" id="paso" placeholder="Mover">
        <input type="button" onclick="mover()" value="enter">
        <input type="number" id="texto" placeholder="Mostrar">
        <input type="button" onclick="mostrar()" value="enter">
        <!-- Funciones para pruebas -->

    </div>

    <div class="arrow__button">
        <a class="return_home" href="/"><img class="img-arrow"
                src="{{ url_for('static', filename='images/arrow.png') }}" /></button></a>
    </div>

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img class="chat" src="{{ url_for('static', filename='images/chat.png') }}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">SATSIM</h4>
                        <p class="chatbox__description--header">Desarrollado por alumnos de INCO del Centro
                            Universitario de Ciencias Exactas e Ingenierías.</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Escribe un mensaje...">
                    <button class="chatbox__send--footer send__button">Envíar</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>

    <!-- <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tutorialCFDI.js') }}"></script>

</body>

</html>
