{% extends 'layout.html' %}

{% block head %}
<title>SIMSAT - CFDI</title>

{% endblock %}

{% block body %}
    <div class="CFDI-container">
        <div class="CFDI-content1">
            <h1 class="CFDI">Tutorial con Simulación para tus CFDI Versión 4.0</h1>
            <h3 class="CFDI">Aprende a realizar tu comprobante de ingresos y egresos</h3>
            <div class="CFDI-container-icons">
                <div class="CFDI-content">
                    <ul class="list">
                        <li><span class="icon-list"><img src="{{ url_for('static', filename='images/clock.png') }}" alt="declaraciones"></span>30 min.</li>
                    </ul>
                </div>
                <div class="CFDI-content">
                    <ul class="list">
                        <li><span class="icon-list"><img src="{{ url_for('static', filename='images/coin.png') }}" alt="costo"></span>Gratis</li>
                    </ul>
                </div>
            </div>
            <h2 class="CFDI">Requisitos</h2>
            <div class="CFDI-container-requisitos">
                <div class="CFDI-content">
                    <ul class="list2">
                        <li>Contraseña SAT</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="CFDI-content">
                    <ul class="list2">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit</li>
                    </ul>
                </div>
            </div>
            <h2 class="CFDI">Descripción</h2>
            <p class="CFDI">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione explicabo nesciunt error earum sunt provident quod dolor nulla aperiam repellendus dolorem vel ab ad, mollitia minima consequuntur. Sit, illum ad! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="CFDI-content2 right">
            <center><img class="view-img" src="{{ url_for('static', filename='images/imgCFDI.png') }}" alt="CFDI"></center>
            <center><button class="css-arrow--green"><a class="refe" href="/CFDI-tutorial">COMENZAR</a></button></center>
        </div>
    </div>
{% endblock %}