<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='./images/Favicon.png' ) }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='images/logoNavbar.png') }}"></a>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a class="navbar__item" href="/sobre_nosotros">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <a class="btn" href="/tutoriales"><button>Tutoriales</button></a>
    </header>

    {% block body %}
    {% endblock %}

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img class="chat" src="{{ url_for('static', filename='images/chat.png') }}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">SATSIM</h4>
                        <p class="chatbox__description--header">Desarrollado por alumnos de INCO del Centro Universitario de Ciencias Exactas e Ingenierías.</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Escribe un mensaje...">
                    <button class="chatbox__send--footer send__button">Envíar</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <img class="footer-img" src="{{ url_for('static', filename='images/footer.png') }}">
                <span class="footer-info">CUCEI</span>
                <span class="footer-info">Ingenieria en Computación</span>
            </div>
            <div class="footer-menus">
                <div class="footer-content-container">
                    <span class="menu-title">menu</span>
                    <a href="/" class="menu-item-footer">Inicio</a>
                    <a href="/tutoriales" class="menu-item-footer">Tutoriales</a>
                    <a href="/preguntas-frecuentes" class="menu-item-footer">Preguntas Frecuentes</a>
                </div>
            </div>
            
            <div class="footer-content-container">
                <span class="menu-title">Siguenos</span>
                <div class="social-container">
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                </div>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2023, SATSIM. Todos los derechos reservados.</span>
        </div>
    </footer>

    <!-- <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>