{% extends 'layout.html' %}

{% block head %}
<title>SATSIM - Preguntas Frecuentes</title>
{% endblock %}

{% block body %}
<div class="preguntas-container">
    <div class="preguntas-container1">
        <h1><span class="gradient-text">Preguntas</span> Frecuentes</h1>
        <h5>¿Qué es el CFDI?</h5>
        <p>El CFDI (Comprobante Fiscal Digital por Internet) es un documento que avala las operaciones o transacciones realizadas por personas físicas o morales ante el SAT. 
            Desde su instauración en 2004, es obligatorio para todos los contribuyentes.</p>

        <h5>¿Qué es una e.firma?</h5>
        <p>La e.firma el conjunto de datos y caracteres que te identifica al realizar trámites y servicios por internet en el SAT, así como en otras Dependencias, Entidades Federativas, Municipios y la iniciativa privada. 
            Tu e.firma es única, es un archivo seguro y cifrado, que tiene la validez de una firma autógrafa. 
            Para tramitarla es en cualquier oficina del SAT que preste el servicio e.firma de Personas Físicas, con previa cita registrada en el Portal del SAT.</p>
        
        <h5>¿Qué es una factura electronica?</h5>
        <p>Una factura electrónica es un comprobante fiscal digital que se genera mediante internet (CFDI). 
            Este comprobante es emitido a través de la página del SAT para que así se tenga registro de lo que una empresa o comerciante vende, es decir, los ingresos que está generando y que las autoridades fiscales tengan notificación de ello.</p>
        
        <h5>¿Para qué se hacen declaraciones?</h5>
        <p>Es en nuestra Constitución Política donde se establece la obligación de los mexicanos de contribuir para el gasto público del país, es decir, de pagar impuestos. Los impuestos son uno de los medios 
            principales por los que el gobierno obtiene ingresos; tienen gran importancia para la economía de nuestro país, ya que gracias a ellos se  puede invertir en aspectos prioritarios como la educación, la salud, la impartición de justicia y la seguridad.</p>

        <h5>¿Qué es IVA?</h5>
        <p>El IVA, Impuesto sobre el Valor Agregado, es un impuesto que grava el valor agregado de un producto o servicio en las distintas etapas de su producción. 
            Es decir, es una carga fiscal que se aplica al consumo de un bien o servicio.</p>
        
        <h5>¿Qué es ISR?</h5>
        <p>El Impuesto sobre la Renta, o ISR, es un impuesto directo sobre las ganancias obtenidas durante el ejercicio fiscal de actividades como la venta o renta de inmuebles, o la prestación de algún tipo de servicio.</p>

        <h5>¿Quieres ver más? Preguntale al chatbot</h4>
    </div>
</div>

<div class="Frecuente-container">
    <div class="Frecuente-content1">
        <section class="col left">
            <div class="contactTitle">
                <h2><span class="gradient-text">Manda</span> tu <span class="gradient-text">Pregunta</span></h2>
                <p>Si nuestro chatbot no pudo responder tu pregunta háznoslo saber.</p>
            </div>
            <div class="contactInfo">

                <div class="iconGroup">
                    <div class="icon">
                        <img class="phone" src="{{ url_for('static', filename='images/phone.png') }}">
                    </div>
                    <div class="details">
                        <span>Teléfono</span>
                        <span>+52 33 1518 0821 </span>
                    </div>
                </div>

                <div class="iconGroup">
                    <div class="icon">
                        <img class="email" src="{{ url_for('static', filename='images/email.png') }}">
                    </div>
                    <div class="details">
                        <span>Email</span>
                        <span>satsimdev@gmail.com</span>
                    </div>
                </div>

            </div>
    </div>
    <div class="Frecuente-content2 right">
        <section class="col right">
            <form class="messageForm" method="post">

                <div class="inputGroup halfWidth">
                    <input type="text" name="name" required="required">
                    <label>Nombre Completo</label>
                </div>

                <div class="inputGroup halfWidth">
                    <input type="email" name="email" required="required">
                    <label>Email</label>
                </div>

                <div class="inputGroup fullWidth">
                    <input type="text" name="subject" required="required">
                    <label>Tema</label>
                </div>

                <div class="inputGroup fullWidth">
                    <textarea name="question" required="required"></textarea>
                    <label>Escribe tus preguntas...</label>
                </div>

                <div class="inputGroup fullWidth">
                    <button type="submit">Enviar Mensaje</button>
                </div>

            </form>
    </div>
</div>
{% endblock %}