{% extends 'layout.html' %}

{% block head %}
<title>SATSIM - Sobre SATSIM</title>
{% endblock %}

{% block body %}
<div class="">
    <h2>¿Qué es SATSIM?</h2>
    <p>SATSIM es una plataforma desarrollada por alumnos del Centro Universitario de Ciencias Exáctas e Ingenierías de la Universidad de Guadalajara. 
        Su propósito es el de ofrecer a la comunidad un material didactico para aprender a realizar contabilidad de una manera simple, 
        involucrando al usuario con una metodología de aprendizaje basada la experiencia. Es decir nuestros usuarios aprende a realizar sus facturas, declaraciones, etc. realizando una "simulación" de las mismas.
    </p>

    <h2>¿Qué tecnologías son utilizadas?</h2>
    <p>
        Hablando de los aspectos técnicos las plataformas estan desarrolladas en los lenguajes de programación como JavaScript y Python. 
        En cuestion a nuestro chatbot este está desarrollado en Python y se basa en una red neuronal.
    </p>

    <h2>Uso del chatbot</h2>
    <p>
        El chatbot es claramente uno de los grandes aditamentos para complementar los tutoriales, ya que si existe una duda el usuario puede preguntarsela al chatbot. 
        La información con la que cuenta el chatbot es obtenida directamente de als guías oficiales de llenado del SAT. 
        Cuando ocurre que el chatbot no puede resolver una pregunta este la almacenará de manera automática para que proximamente sea agregada a su base de datos. 
        Además, cualquiera puede hacer uso de este chatbot, si quieres integrarlo a un proyecto puedes realizar consultas en la dirección de este.
    </p>

    <h2>Chatbot API</h2>
    <p></p>
</div>
{% endblock body %}